@page
@using BLL.Objects.Users;
@using BLL.Enums;
@model WebApp.Pages.Tournaments.TournamentModel
@{
    void RenderRow(Contestant contestant)
    {
        <tr>
            <th scope="row">@contestant.Rank</th>
            <td>@contestant.Name @contestant.SurName</td>
            <td>@contestant.Wins</td>
            <td>@contestant.Losses</td>
        </tr>
    }

    bool CheckDisplayRegisterOptions()
    {
        if(Model.Tournament != null)
        {
            return DateTime.Now.AddDays(7) < Model.Tournament.StartDate && Model.Tournament.Status == TournamentStatus.Planned;
        }
        return false;
    }
}

<div class="">
    <p>Title: @Model.Tournament?.Title</p>
    <p>Description: @Model.Tournament?.Description</p>
    <p>City: @Model.Tournament?.City</p>
    <p>Address: @Model.Tournament?.Address</p>
    <p>Start Date: @Model.Tournament?.StartDate</p>
    <p>End Date: @Model.Tournament?.EndDate</p>
    <p>Minium Contestants: @Model.Tournament?.MinContestants</p>
    <p>Maximum Contestants: @Model.Tournament?.MaxContestants</p>
    <p>Tournament Status: @Model.Tournament?.Status</p>
    <p>Sport: @Model.Tournament?.Sport!.Name</p>
    <p>Team Type: @Model.Tournament?.Type</p>
</div>

@if (CheckDisplayRegisterOptions())
{
    if(User.Identity?.IsAuthenticated == true)
    {
        <form method="post">
            <button class="btn btn-primary" asp-page-handler="register">Register</button>
            <button class="btn btn-primary" asp-page-handler="deregister">Deregister</button>
            <input type="hidden" value=@Model.Tournament?.ID asp-for="TournamentID" />
            @if (TempData["success"] != null)
            {
                <span class="field-validation-success">@TempData["success"]</span>
            }
            @if (TempData["error"] != null)
            {
                <span class="field-validation-error">@TempData["error"]</span>
            }
        </form>
    }
    else
    {
        <div>
            Log in to register for this tournament.
        </div>
    }
}
else
{
    <div>
        This tournament is closed for registration.
    </div>
}

@if(Model.Leaderboard.Count > 0){
    <h2 class="text-center my-3">Leaderboard</h2>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Wins</th>
                <th scope="col">Losses</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var contestant in Model.Leaderboard)
            {
                RenderRow(contestant);
            }
        </tbody>
    </table>
}
